@model LivrariaOnline.ViewModels.IndexViewModel
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h2>Welcome to Livraria Online</h2>
</div>

<header>
	<nav class="navbar bg-body-tertiary">
		<div class="container-fluid">
			@* <a class="navbar-brand btn BookButton" asp-area="" asp-controller="Books" asp-action="Create">Create a new book</a> *@
			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" value="@Model.Search" placeholder="Search" aria-label="Search" name="Search">
				<button class="btn btn-outline-success" value="Search" type="submit">Search</button>
			</form>
		</div>
	</nav>
</header>

<body>
	<div class="card-group grid-container">
		@foreach (Book book in Model.Books)
		{
				<div class="card BookCard grid-item" style="border: 1px solid rgba(0,0,0,.125)">
				<img src="@book.CoverImageUrl"
					 class="card-img-top bookCover">

				<div class="card-body">
					<h5 class="card-title">@book.Title</h5>
					<p class="card-text">@book.Author</p>
					<div class="d-inline-block">
						<a class="btn BookButton align-self-center" asp-controller="Home" asp-action="BookDetails" asp-route-id="@book.Id">Details</a>
					</div>
				</div>
				<div class="card-footer">
						<small class="text-body-secondary" style="align-self: flex-start">@book.Price &euro;</small>
				</div>
			</div>
		}
	</div>
</body>