@model LivrariaOnline.ViewModels.BooksViewModel
@{
    ViewData["Title"] = "Backoffice";
}

<div class="text-center">
    <h2>Welcome to the Book List</h2>
</div>

<header>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand btn BookButton" asp-area="" asp-controller="Books" asp-action="Create">Create a new book</a>
            @* <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" value="@Model.Search" placeholder="Search" aria-label="Search" name="Search">
            <button class="btn btn-outline-success" value="Search" type="submit">Search</button>
            </form> *@
        </div>
    </nav>
</header>

<body>
        <table class="table align-middle">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cover</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Editor</th>
                    <th scope="col">Genre</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Language</th>
                    <th scope="col">Dimensions</th>
                    <th scope="col">Price</th>
                    <th scope="col">Availability</th>
                    <th scope="col" colspan="2">Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Book book in Model.Books)
                {
                    <tr>
                        <th scope="row">@book.Id</th>
                        <td><img style="max-height: 3rem;" src="@book.CoverImageUrl" /></td>
                        <td>@book.Title</td>
                        <td>@book.Author</td>
                        <td>@book.Editor</td>
                        <td>@book.Genre</td>
                    <td style="min-width: 5rem">@book.ISBN</td>
                        <td>@book.Language</td>
                        <td>@book.Dimensions</td>
                        <td style="min-width: 5rem">@book.Price &euro;</td>
                        <td>@Html.CheckBox("IsChecked", isChecked: book.IsAvailable, new { @disabled = "disabled" })</td>
                        <td><a class="btn BookButton" asp-controller="Books" asp-action="Edit" asp-route-id="@book.Id">Edit</a></td>
                        <td><a class="btn BookButton" asp-controller="Books" asp-action="Delete" asp-route-id="@book.Id">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
</body>
