@model LivrariaOnline.ViewModels.DeliveriesViewModel
@{
    ViewData["Title"] = "Deliveries";
}

<div class="text-center">
	<h2>Deliveries Details</h2>
</div>

<body>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Book Title</th>
                <th scope="col">Username</th>
                <th scope="col">Address</th>
                <th scope="col">Arrived</th>
                @* <th scope="col" colspan="2">Options</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var delivery in Model.Deliveries)
            {
                <tr>
                    <th scope="row">@delivery.Id</th>
                    <td>@delivery.BookBought.Title</td>
                    <td>@delivery.UserName</td>
                    <td>@delivery.Address</td>
                    <td>
                        <input type="checkbox" @(delivery.HasArrived ? "checked" : "") onchange="updateDeliveryStatus (@delivery.Id, this)" />
                    </td>
                    @* <td><a class="btn BookButton" asp-controller="Books" asp-action="Edit" asp-route-id="@delivery.Id">Edit</a></td>
                    <td><a class="btn BookButton" asp-controller="Books" asp-action="Delete" asp-route-id="@delivery.Id">Delete</a></td> *@
                </tr>
            }
        </tbody>
    </table>
</body>
